
.paper_style{
    padding: 0 10px 10px 10px;
}

.is-done {
  opacity: 0.5;
}

.add_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}
